/* global */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.2em;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

ul {
    margin-left: 20px;
    margin-bottom: 1em;
    list-style-type: none; /* remove bullet points */
}

li {
    margin-bottom: 0.5em;
}

/* sections */
section {
    padding: 20px;
    box-sizing: border-box;
}


#visual_id {
    width: 100%;
    height: auto;
}

#visual_id img {
    width: 100%;
    height: auto;
    display: block;
}

/* style para sobre o espetáculo*/
#sobre_o_espetaculo {
    background-color: #f9f9f9;
}

/* style para patrocínio */
#patrocinio {
    text-align: center;
}

.patrocinadores {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Mantém os nomes alinhados no topo */
}

.patrocinador {
    flex: 1 1 45%;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.patrocinador p {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: center; /* Alinha horizontalmente */
}

.patrocinador img {
    max-width: 100%;
    height: auto;
    display: block;
}
/* smartphone screen ratio (18:9) */
@media only screen and (max-aspect-ratio: 18/9), (max-width: 600px) {
    .patrocinador {
        flex: 1 1 16%;
    }

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.1em;
    }

    p, li {
        font-size: 1em;
    }

    section {
        padding: 15px;
    }
}


